body {
  margin: 0;
  padding: 0;
}

.navigationheader-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-top: -3rem;
}

#navigationheader {
  margin-top: 0.4%;
  background-color: yellow;
  padding: 0.7%;
  box-shadow: 10px 1px 5px grey;
}

#navigationheader>ul {
  margin-left: 30%;
}

#logo {
  height: 100px;
  vertical-align: middle;
}

ul {
  display: inline;
  list-style: none;
}

li {
  display: inline;
}

#navigation-container {
  margin-top: 3%;
  margin-bottom: 0.5%;
}

#logo {
  margin-left: 10%;
}

a {
  font-family: 'Archivo', sans-serif;
  margin: 1%;
  padding-right: 0.5%;
  color: rgb(100, 100, 100);
  font-size: 140%;
  text-decoration: none;
}

li:hover {
  background: #fff;
}

.header {
  width: 100%;
}

.bodycontainer {
  position: relative;
  text-align: center;
  color: white;
}

.centertext {
  padding: 0.5%;
  background-color: yellow;
  font-size: 300%;
  color: rgb(100, 100, 100);
  font-family: 'Archivo',
    sans-serif;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottomtext {
  font-size: 150%;
  padding: 0.5%;
  background-color: yellow;
  position: absolute;
  color: rgb(100, 100, 100);
  font-family: 'Archivo',
    sans-serif;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-container {
  grid-gap: 5%;
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-container>div>h1 {
  font-size: 130% !important;
  text-transform: uppercase;
}

.grid-container>div>p {
  font-size: 100% !important;
}

.grid-container>div {
  color: rgb(100, 100, 100);
  font-family: 'Archivo',
    sans-serif;
}

#free-button {
  display: block;
  padding: 5%;
  text-align: center;
  width: 100%;
  background-color: rgb(230, 176, 0);
  border: none;
  color: rgb(100, 100, 100);
  font-family: 'Archivo',
    sans-serif;
  font-size: 120%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-left: 40%;
  height: 0;
  width: 250%;
  height: 150%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}